@import '../variables.css';

.button {
    background-color: var(--inbox-primaryBtn-color);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin: 0px 2px;
    color: white;
    outline: none;
    font-weight: bold;
    border-radius: 0.75rem;
    font-size: small;

}